body {
  width: 640px; }

.multiDatePicker {
  width: 100%;
  font-size: 1.15rem; }
  .multiDatePicker > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  .multiDatePicker button {
    font-size: 1rem;
    border: 1px solid 0;
    background-color: #2C3E50;
    cursor: pointer;
    color: white;
    padding: 8px 5px;
    border-radius: 5px; }
  .multiDatePicker #header {
    width: 100%; }
    .multiDatePicker #header #left, .multiDatePicker #header #center, .multiDatePicker #header #right {
      display: inline-block; }
    .multiDatePicker #header #left {
      text-align: left;
      width: 25%; }
    .multiDatePicker #header #center {
      text-align: center;
      font-size: 1.15rem;
      color: #3498db;
      width: 50%; }
      .multiDatePicker #header #center #yearSelect {
        white-space: nowrap;
        width: 100%;
        margin: 0;
        padding: 0; }
        .multiDatePicker #header #center #yearSelect li {
          display: inline-block;
          margin: 0;
          padding: 0;
          width: 13.8%;
          border: 1px solid #7f8c8d;
          color: #2C3E50;
          text-align: center;
          cursor: pointer; }
        .multiDatePicker #header #center #yearSelect .date {
          padding-top: calc(7% - 1.15rem);
          padding-bottom: calc(7% - 1.15rem);
          background-color: #ECF0F1; }
        .multiDatePicker #header #center #yearSelect .selected {
          color: white;
          border: 1px solid #3498db;
          background-color: #3498db; }
    .multiDatePicker #header #right {
      text-align: right;
      width: 25%; }
  .multiDatePicker #content {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center; }
    .multiDatePicker #content .row {
      white-space: nowrap;
      width: 100%;
      list-style-type: disc;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;
      letter-spacing: -0.15em;
      word-spacing: -0.15em;
      padding: 0;
      margin: 0; }
      .multiDatePicker #content .row .date, .multiDatePicker #content .row .weekText {
        display: inline-block;
        margin: 0;
        width: 14%;
        padding: 0;
        border: 1px solid #7f8c8d;
        color: #2C3E50;
        text-align: center;
        cursor: pointer; }
      .multiDatePicker #content .row .date {
        padding-top: calc(7% - 1.15rem);
        padding-bottom: calc(7% - 1.15rem);
        background-color: #ECF0F1; }
      .multiDatePicker #content .row .selected {
        color: white;
        border: 1px solid #3498db;
        background-color: #3498db; }
    .multiDatePicker #content #monthSelect {
      width: 100%;
      margin: 0;
      padding: 0;
      margin-top: 20px;
      margin-bottom: 20px; }
      .multiDatePicker #content #monthSelect li {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 8%;
        border: 1px solid #7f8c8d;
        color: #2C3E50;
        text-align: center;
        cursor: pointer; }
      .multiDatePicker #content #monthSelect .date {
        padding-top: calc(4% - 1.15rem);
        padding-bottom: calc(4% - 1.15rem);
        background-color: #ECF0F1; }
      .multiDatePicker #content #monthSelect .selected {
        color: white;
        border: 1px solid #3498db;
        background-color: #3498db; }

/*# sourceMappingURL=style.css.map */
